.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  background-color: #fff;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
