.text-information {
  font-size: 20px;
}

/* InputFields.css */

.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.input-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.buttons-results {
  display: flex;
  gap: 10px;
}

.button-input {
  margin-top: 15px;
}
