.text-information {
  font-size: 20px;
}

.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.input-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-items: center;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.buttons-results {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 4px;
}

.button-input {
  margin-top: 15px;
}

.trip-buttons-container {
  margin-top: 8px;
  margin-bottom: 12px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.add-trip-button,
.remove-trip-button {
  align-self: flex-start;
}

.total-expenses-container {
  margin-top: 8px;
}

.total-expenses-input {
  width: 100%;
}

.travel-entry {
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.travel-entry:last-child {
  border-bottom: none;
}
